<!DOCTYPE html>
<html>
<head>
  <title>Surat Pengantar KTP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">Surat Pengantar KTP</h2>
        <p class="text-right">Tanggal: 10 Juni 2023</p>


        <p>Kepada Yth,</p>

        <p>Kepala Dinas Kependudukan dan Pencatatan Sipil</p>
        <p>Kota Contoh</p>

        <p>Dengan hormat,</p>

        <p>Yang bertanda tangan di bawah ini:</p>

        <table class="table">
          <tbody>
            <tr>
              <td>Nama</td>
              <td>:</td>
              <td>John Doe</td>
            </tr>
            <tr>
                <td>Jenis Kelamin</td>
                <td>:</td>
                <td>John Doe</td>
              </tr>
            <tr>
              <td>Tempat / Tanggal Lahir</td>
              <td>:</td>
              <td>15 Januari 1980</td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td>:</td>
              <td>Jl. Raya Contoh No. 123</td>
            </tr>
            <tr>
              <td>Pekerjaan</td>
              <td>:</td>
              <td>Pegawai Swasta</td>
            </tr>
            <tr>
                <td>Agama</td>
                <td>:</td>
                <td>John Doe</td>
              </tr>
          </tbody>
        </table>

        <p>Demikian permohonan ini saya sampaikan. Atas perhatian dan bantuan yang diberikan, saya ucapkan terima kasih.</p>

        <p>Hormat saya,</p>

        <p>John Doe</p>

        <p class="text-right">Tanda Tangan</p>


      </div>
    </div>
  </div>
</body>
</html>
